.search-form{

    width: 350px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    outline: none;
}
.search-button{
   background-color:transparent;
    cursor:pointer;
    margin-left: -40px;
    border:none
}
.form{
    margin: 50px auto;
}

.issuesPagination .selected a {
    box-shadow: 0 0 2px #3e4243;
    background-color: #949191;
}

.issuesPagination .disabled > a {
    color: #ccc;
    background-color: #f8f8f8;
    border-color: #eee;
    cursor: default;
}

.issuesPagination .disabled > a:hover {
    background-color: #f8f8f8;
}
.issuesPagination .break {
    margin: 0 8px;
}


.pagination {
    margin: 6px auto;
    display: flex;
    list-style: none;
    outline: none;

}
.pagination > li > a{
    border: 1px solid #42494a;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination > li > a, .pagination > li > span{
    color: #282c2d
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
body{
    overflow-x: hidden;
}
h2{
    width: max-content;
    margin: auto;
}
@media screen and (max-width: 450px ){
    .search-form{
        width: 250px;
    }
}
